* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(225deg, #FF3CAC 10%, #784BA0 50%, #2B86C5 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* .predictive-search-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  padding: 20px;
} */

input {
  font-size: 16px;
  box-shadow: inset 0 3px 4px #8d2bc5;
  border: none;
  background: transparent;
  padding: 10px;
  width: 300px;
  border-radius: 30px;
}

input:focus {
  outline: 2px solid #FF3CAC;
  border-radius: 30px;
}

.search-container {
  position: relative;
  color: rgb(38, 1, 70);
  background: rgb(224, 196, 248);
  border-radius: 30px;
  /* Match the input width */
  width: 300px;
}

.search-container input,
.search-container .suggestions {
  width: 100%;
}

.search-container input {
  font-size: 16px;
  width: 100%;
  max-width: 300px;
}

.search-container .suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: rgba(224, 196, 248, 0.473);
  /* Hidden by default */
  display: none;
  /* Ensure suggestions appear above other elements */
  z-index: 10;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul.has-suggestions {
  display: block;
  /* Constrain height */
  max-height: 300px;
  /* Enable scrolling */
  overflow-y: auto;
  width: 300px;
}

ul li {
  padding: 10px;
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}

ul li:hover {
  background-color: lightgray;
}

